@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Noto+Sans:wght@300&display=swap');

body{
 background: linear-gradient(#BDE0FE,#94D2BD);
 min-height: 100vh;
 font-family: 'Inter', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-weight: 36;
 padding: 0;
 margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header{
        img{
            margin-top: 24px;
        }
    }
    section.Homepage{
        display: flex;
        flex-direction: column;
        img{
            margin-top: 90px;
            margin-bottom: 92px;
        }
        a:is(:link, :visited){
            display: flex;
            color: #fff;
            transition: all 0.4s ease-in;
            border-radius: 50px;
            background-color: #7AA8D2;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            height: 80px;
            width: 380px;
        }
        a:is(:hover){
            border: 2px #61A5C2;
            background-color:#22799e ;
            color: #ffffff;
            transition: 1s;
        }
    }

    section.login {
        menu{
            padding: 0;
            display: flex;
            a:is(:link, :visited){
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 32px;
                height: 80px;
                width: 190px;
            }
            a:first-child{
                background-color: #7AA8D2;
                border-radius: 50px 0 0 50px;
                color: #fff;
            }
            a:last-child{
                background-color: #94D2BD;
                border-radius: 0 50px 50px 0;
                color: #fff;
            }
        }
    }


}
